%p{ :style => "font-size: 22px;" }
  = t :about

- flash.each do |name, msg|
  = content_tag :div, msg, class: name

- if @card
  %p
    = @card.original_text
  = simple_form_for @card, method: :post, url: card_card_reviews_path(@card) do |f|
    = f.input :translated_text, label: "#{t :input_translate}:", input_html: { value: '' }
    = f.button :submit, "#{t :check}"
