!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= t :name
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %section#container
      %header.clearfix
        %h1= t :name
        %ul.navigation-links
          %li
            = link_to "#{t :all_cards}", cards_path
          %li
            = link_to "#{t :add_card}", new_card_path
      %section
        = yield
